

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color:#ededed;
}
.navbar-inverse{
	padding-top:20px;
	padding-bottom:20px;
	background-image:none;
	background-color:#ededed;
	border-bottom:white solid 2px;
}

.jumbotron{
	background-color: rgba(0,75,152,0.85);
}

form {
    overflow: auto;
}
 .form-control {
    display: inline-block;
    width: 100%; 
    vertical-align: middle;
    height:50px;
}
.form-group {
    display: inline;
}

.navbar-form-lg{
	padding-top: 4rem;
	
}
button.btn.btn-default {
    height: 50px;
}

.main_body{
	min-height: 700px;
}

#footer{
	background: #002e59 url("footer_neiu.jpg") center bottom no-repeat;
	width:100%;
	min-height:241px;
	text-align:center;
}

#footer div{
	width:1140;
	margin: 0 auto;
	padding: 45px 0 70px;
}
#footer > div section h1 {
    color: #78bde8;
    font-size: 1.063em;
    line-height: 1.765em;
    font-family: 'HelveticaNeueW01-77BdCn 692722',Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: left;
    font-weight:bold;
    margin-top:0;
}
#footer > div section p{
	color:white;
	text-align: left;
	line-height: 1.765em;
}
#footer > div .buttons a {
    display: inline-block;
    background-color: #2a90d0;
    color: white;
    padding: 0.8em 1.6em;
    border-radius: 0.625em;
    border-width: 0 0 0.2em;
    border-style: none none solid;
    border-color: #2171c5;
    font-size: 0.975em;
    font-weight: bold;
    font-family: "HelveticaNeueW01-75Bold","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    background-color: #fdb814;
    color: #004a98;
    border-color: #d78400;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.26);
}
#footer > div .buttons {
    float: right;
    /*width: 255px;*/
}
#footer > div .contact {
    /*float: left;*/
   /* width: 295px;*/
}
#footer > div .buttons a:hover {
    background-color: #fee47a;
    border-color: #d78400;
    text-decoration: none;
}
.infofor1, .infofor2{
	text-align: left;
	line-height: 1.765em;
}
.infofor1 a, .infofor2 a{
	color:white;
}
.infofor1 a:hover, .infofor2 a:hover{
	color:white;
	text-decoration: underline;
}
.infofor1 ul, .infofor2 ul{
	margin-left:0;
	padding-left:0;
}
footer header .logo {
    float: left;
    position: relative;
    width: 258px;
    height: 45px;
    overflow: hidden;
    background: url("neiu-logo-white.png") 0 0 no-repeat;
    text-indent: 300px;
    white-space: nowrap;
}
.infofor2{
	    padding-top: 35px;
}
h3{
    color:#78bde8;
}
footer header{
    padding-top: 2rem;
    padding-bottom:1rem;
}
footer header .social{
    float:right;
}
footer header .social a{
    float:right;
}
footer header .social a.youtube {
    background-color: #e62b2b;
    background-position: -173px 0;

}
footer header .social a.flickr {
    background-color: #e9e9e9;
    background-position: -231px 0;
}
footer header .social a.facebook {
    background-color: #166cb0;
    background-position: -58px 0;
}
footer header .social a.linkedin {
    background-color: #004173;
    background-position: -116px 0;
}
footer header .social a.twitter {
    background-color: #52a8d8;
    background-position: 0 0;
}
footer header .social a:first-child {
    /*margin-left: 0;*/
}
footer header .social a {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(social-icons.png);
    background-repeat: no-repeat;
    text-indent: 50px;
    white-space: nowrap;
    margin-left: 14px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.6);
}
a {
    color: #2a90d0;
}
footer header {
    background-color: #00539f;
}
.footer_copyright{
    background-color: #001b2f;
    padding: 20px 0;
    display:block;
    min-height:50px;

}
.input-group{
    width:100%;
}















